.tutorialCardWrapper {
  border-radius: 3px;
  background: #fff;
  box-sizing: border-box;
  padding: 16px 16px 8px;
  position: relative;
  a {
    &:hover {
      color: #1aabfd;
    }
  }

  .topContainer {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 300;
    .author {
      color: #000;
      margin-right: 8px;
    }
    .time {
      color: #ccc;
    }
  }
  h2 {
    line-height: 1.3;
    font-size: 18px;
    margin-bottom: 8px;
    overflow: hidden;
  }
  p {
    line-height: 1.3;
    color: #333;
    min-height: 72px;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
  }
  .linkButton {
    z-index: 2;
    display: block;
    padding: 8px 16px;
    color: #333;
    border: 1px solid #333;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    right: 16px;
    bottom: 8px;
    &:hover {
      color: #1aabfd;
      border-color: #1aabfd;
    }
  }
  .bottomContainer {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 12px;
    width: 100%;
    font-weight: 300;

    .tag {
      display: inline-block;
      margin-right: 8px;
      background-color: rgba(242, 242, 242, 1);
      border-radius: 8px;
      padding: 4px 8px;
    }
    .duration {
      margin-right: 8px;
    }
    .pdfLink {
      position: relative;
      top: 4px;
    }
  }

  // .cardHeader {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   font-size: 16px;
  //   line-height: 24px;
  //   color: #212121;
  //   font-family: Inter;
  //   a {
  //     color: #212121;
  //   }
  // }
  // .date {
  //   font-size: 12px;
  //   line-height: 24px;
  //   font-family: Inter;
  // }
  // .cardDuration {
  //   display: flex;
  //   align-items: center;
  //   color: #aaaaaa;
  //   font-size: 11px;
  //   mix-blend-mode: initial;
  //   justify-content: space-between;

  //   img {
  //     opacity: 0.24;
  //   }
  // }

  // .cardFooter {
  //   padding: 8px 0;
  //   .pdf {
  //     width: 32px;
  //     height: 32px;
  //   }

  //   .linkButton {
  //     background-color: rgb(26,171,253);
  //     padding: 8px 16px;
  //     color: #fff;
  //     border-radius: 3px;
  //     font-size: 14px;
  //     line-height: 20px;
  //     font-family: Inter;
  //   }

  //   img {
  //     width: 32px;
  //     height: 32px;
  //   }

  //   & > .MuiButton-root {
  //     background-color: rgb(26,171,253);
  //     text-transform: capitalize;
  //   }
  // }
}
